{% extends 'blog/base.html' %} {% load crispy_forms_tags %}
<!-- prettier-ignore -->
{% block header_title %} 
  {{ post.title }}
{% endblock %}

{% block main_area %}
<div id="post-area">
  {% if post.category %}
  <span class="badge badge-secondary float-right">{{ post.category }}</span>
  {% else %}
  <span class="badge badge-secondary float-right">미분류</span>
  {% endif %}
  <!-- Post content-->
  <article>
    <!-- Post header-->
    <header class="mb-4">
      <!-- Post title-->
      <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
      <h5 class="text-muted">{{ post.hook }}</h5>
      <!-- Post meta content-->
      <div class="text-muted fst-italic mb-2">
        {{ post.created }}에 작성되었어요
      </div>
      <p class="lead"><a href="#">{{ post.author | upper }}</a></p>
    </header>
    <hr />
    {% if user.is_authenticated and user == post.author %}
    <a
      class="btn btn-info btn-sm float-right mb-4"
      href="/blog/update_post/{{ post.pk }}/"
      role="button"
      ><i class="fas fa-pen"></i>&nbsp;&nbsp;Post 수정</a
    >

    {% endif %}
    <!-- Preview image figure-->
    <figure class="mb-4">
      {% if post.thumbnail %}
      <img
        class="card-img-top"
        src="{{ post.thumbnail.url }}"
        alt="{{ post.title }} 썸네일"
      />
      {% else %}
      <img
        class="card-img-top"
        src="https://picsum.photos/seed/{{ post.id }}/800/200"
        alt="랜덤 썸네일"
      />
      {% endif %}
    </figure>
    <!-- Post content-->
    <section class="mb-5">
      <p class="fs-5 mb-4">{{ post.get_content_markdown | safe }}</p>

      {% if post.tags.exists %}
      <i class="fas fa-tags"></i>
      {% for tag in post.tags.iterator %}
      <a href="{{ tag.get_absolute_url }}"
        ><span class="badge badge-pill badge-light">{{ tag }}</span></a
      >
      {% endfor %}
      <br />
      <br />
      {% endif %} {% if post.upload %}
      <a
        href="{{ post.upload.url }}"
        class="btn btn-outline-dark"
        role="button"
        download
        >{% if post.get_file_ext == 'csv' %}
        <i class="fa-solid fa-file-csv"></i>
        {% elif post.get_file_ext == 'pdf' %}
        <i class="fa-solid fa-file-pdf"></i>
        <!-- prettier-ignore -->
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fa-solid fa-file-excel"></i>
        <!-- prettier-ignore -->
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fa-solid fa-file-word"></i>
        {% else %}
        <i class="fa-solid fa-file"></i>
        {% endif %} {{ post.get_file_name }}
      </a>
      {% endif %}
    </section>
  </article>
  <hr />
</div>
<div id="comment-area">
  <!-- Comments section-->
  <section class="card my-4 mb-5">
    <h5 class="card-header">댓글을 작성해주세요 !</h5>
    <div class="card-body">
      {% if user.is_authenticated %}
      <form
        id="comment-form"
        method="POST"
        action="{{ post.get_absolute_url }}new_comment/"
      >
        {% csrf_token %}
        <div class="form-group">{{ comment_form | crispy }}</div>
        <button type="submit" class="btn btn-primary float-right">작성</button>
      </form>
      {% else %}
      <a
        role="button"
        class="btn btn-outline-dark btn-block btn-sm"
        href="#"
        data-toggle="modal"
        data-target="#loginModal"
        >먼저 로그인해주세요 !</a
      >
      {% endif %}
    </div>
  </section>

  {% if post.comment_set.exists %}
  <!-- prettier ignore -->
  {% for comment in post.comment_set.iterator %}
  <div class="media mb-4" id="comment-{{ comment.pk }}">
    <img
      class="d-flex mr-3 rounded-circle"
      src="http://placehold.co/50x50"
      alt=""
    />
    <div class="media-body">
      {% if user.is_authenticated and comment.author == user %}
      <a
        role="button"
        class="btn btn-sm btn-info float-right"
        id="comment-{{ comment.pk }}-update-btn"
        href="/blog/update_comment/{{ comment.pk }}/"
        >수정</a
      >
      {% endif %}
      <h5 class="mt-0">
        {{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted"
          >{{ comment.created }}</small
        >
      </h5>
      <p>{{ comment.content | linebreaks }}</p>
      {% if comment.created != comment.modified %}
      <p class="text-muted float-right">
        <small>수정 일자: {{ comment.modified }}</small>
      </p>
      {% endif %}
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
<hr />
{% endblock %}
